{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "block-opening-brace-newline-after": ["always"],
    "block-closing-brace-newline-before": ["always"]
  }
}